{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block content %}
<div class="login-page-container">
  <div class="form">
    <div class="login-header">
      <h3>{% trans "Password Reset" %}</h3>
      <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    </div>
    
    <form class="login-form" method="POST" action="{% url 'account_reset_password' %}">
      {% csrf_token %}
      
      {% if form.errors %}
        {% for field, errors in form.errors.items %}
          {% for error in errors %}
            <p class="error">{{ error|escape }}</p>
          {% endfor %}
        {% endfor %}
      {% endif %}
      
      {% render_field form.email placeholder="Your Email Address" %}
      
      <button type="submit">{% trans "Reset My Password" %}</button>
      
      <p class="message" style="margin-top: 10px;"><a href="{% url 'account_login' %}">Back to Login</a></p>
    </form>
  </div>
</div>
{% endblock %}