{% extends "account/base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Password Reset Sent" %}{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block content %}
<div class="login-page-container">
  <div class="form">
    <div class="login-header">
      <h3>{% trans "Password Reset Sent" %}</h3>
      
      <p style="text-align: left;">
        {% blocktrans %}
        We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.
        {% endblocktrans %}
      </p>

      <p style="text-align: left; font-weight: bold; margin-top: 20px;">
        Remember to check your terminal! The email was printed there.
      </p>

      <p class="message" style="margin-top: 30px;">
        <a href="{% url 'account_login' %}">Back to Login</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}