{% extends 'base.html' %}
{% block head %}
  <script src="https://cdn.tailwindcss.com"></script>
{% endblock %}
{% block main %}
  <div class="flex justify-center">
    <form class="w-1/2 my-10 bg-white border-2 drop-shadow drop-shadow-[#F6931C] border-[#F6931C] p-5 rounded-xl" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <div class="text-center text-2xl font-bold">List a new product for renting</div>
      <p class="text-center text-gray-500 mb-6">Just upload your image and key details. Our AI will write the description for you!</p>

      <div class="relative z-0 w-full mb-6 group">
        <label class="block mb-2 text-sm font-medium text-gray-500" for="file_input">Upload file (This is the most important step!)</label>
        <input class="block w-full p-2 text-sm text-gray-900 border border-[#f7d1a3] rounded-lg cursor-pointer bg-[#F6931C] focus:outline-none" id="file_input" type="file" name="image" />
      </div>

      <div class="relative z-0 w-full mb-6 group">
        <input type="text" name="price" id="price" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-[#f7d1a3] appearance-none focus:outline-none focus:ring-0 focus:border-[#F6931C] peer" placeholder=" " required />
        <label for="price" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-[#F6931C] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Enter Product Price (e.g., "500 / day")</label>
      </div>

      <div class="relative z-0 w-full mb-6 group">
        <select name="condition" id="condition" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-[#f7d1a3] appearance-none focus:outline-none focus:ring-0 focus:border-[#F6931C] peer" placeholder=" " required>
          <option value="" selected disabled hidden>Select Product Condition</option>
          <option value="New">New</option>
          <option value="Almost New">Almost New</option>
          <option value="Okayish">Okayish</option>
          <option value="Used">Used</option>
          <option value="Very Used">Very used</option>
        </select>
        <label for="condition" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-[#F6931C] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Select Product Condition</label>
      </div>
      
      <div class="relative z-0 w-full mb-6 group">
        <input type="number" name="contact" id="contact" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-[#f7d1a3] appearance-none focus:outline-none focus:ring-0 focus:border-[#F6931C] peer" placeholder=" " required />
        <label for="contact" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-[#F6931C] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Enter your contact number</label>
      </div>
      
      <div class="flex justify-center">
        <button type="submit" class="text-white bg-[#F6931C] hover:[#f28605] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
      </div>
    </form>
  </div>
{% endblock %}