{% extends 'base.html' %}
{% load static %}
{% block main %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'about.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="intro intro-container">
        <div class="container">
            <div class="intro-content">
                <div class="intro-data">
                    <h2>About Us</h2>
                    <p>UniMart is a project created by a group of students who understand the challenges and financial
                        constraints faced by their peers. Our goal is to provide a platform where students can easily
                        sell and rent out their used products, promoting sustainability and helping fellow students save
                        money.</p>
                    <p>Our team is dedicated to improving the student experience by creating a reliable and easy-to-use
                        platform that fosters connections and promotes a circular economy on campus.</p>
                    <p>Join us in building a vibrant and sustainable student community. Together, we can make a
                        difference.</p>

                </div>
                <div class="intro-img">
                    <img src="{% static 'assets/about1.png' %}" alt="">

                </div>
            </div>
        </div>
    </div>
</body>

</html>

{% endblock main %}