{% extends 'base.html' %}
{% load static %}
{% block main %}

<section class="home-container">
    <div class="home-data">
        <div class="home-content">
            <div class="home-title text-5xl font-bold">
                <h1 class="main-title">Zero Waste Marketplace, Just For Students</h1>
            </div>
            <div class="home-subtitle">
                Buy, Sell and Rent Used Student Products.
            </div>
        </div>
        <div class="home-img"></div>
    </div>
    <div class="home-matter">
        <button class="home-btn">Join Us</button>
        <p>Join us in building a vibrant and sustainable student community. <br/> Together, we can make a difference.</p>
    </div>
</section>

<div class="about about-container">
    <div class="container">
        <div class="about-content">
            <div class="about-img">
                <img src="{% static 'assets/about2.png' %}" alt="">
            </div>
            <div class="about-data">
                <h2>Welcome to SocialTrade!</h2>
                <p>We’re on a mission to help students to innovate, save money and live a more sustainable life.</p>
            </div> 
        </div>
    </div>
</div>

<div class="work work-container">
    <div class="container">
        <div class="work-title">
            <p>How It Works</p>
        </div>
        <div class="work-content">
            <div class="work-box box1">
                <img src="{% static 'assets/img1.png' %}" alt="">
                <h3>Verify students status</h3>
                
            </div>
            <div class="work-box box2">
                <img src="{% static 'assets/img2.png' %}" alt="">
                <h3>Share it With Friends</h3>
                
            </div>
            <div class="work-box box3">
                <img src="{% static 'assets/img3.png' %}" alt="">
                <h3>Launch List or Rent</h3>
                
            </div>
        </div>
    </div>
</div>


<div class="contacts">
    <div class="contacts-data">
        <h3>Get in touch with us</h3>
        <p>SocialTrade.sustainable@gmail.com</p>
        <p>+91 7838651655</p>
    </div>
</div>

{% endblock %}